/* helloWorld.css */

h1 {
    font-size: 44px;
    color: #6600CC
    }

abbr {
    border-style: dotted;
    padding:20px;
    margin: 30px;
    width: 500px;
    display:inline-block ;
    }

a {border-style: groove;
    background-color: red;
  border-radius: 75px;
  padding: 10px;
  }